* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.intro--container {
  background-color: #fbf5f3;
  color: #080357;
  padding: 4em;
  box-shadow: 2px 2px 16px #ffffff4d;
  border-radius: 10px;
  max-width: 90%;
  margin: 0 auto;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro--title {
  font-size: 2.5rem;
  color: #293264;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.intro--subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  color: #293264;
  margin-top: 0;
}

.intro--btn {
  font-weight: 500;
  font-size: 1.2rem;
  color: #f5f7fb;
  border-radius: 15px;
  border: none;
  width: 193px;
  height: 52px;
  font-family: "Karla", sans-serif;
  background-color: #080357;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.intro--btn:hover {
  background-color: rgb(52, 38, 247);
}

.question-container {
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  padding: 2em;
  background-color: #fbf5f3;
  color: #293264;
}

.question {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  font-size: 0.7rem;
  padding: 1em;
  margin-right: 1.5em;
  border: 2px solid #293264;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.quiz-btn {
  margin: 0.5em auto;
  background: #4d5b9e;
  color: white;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgb(52, 38, 247);
}

.quiz-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2em auto;
  padding: 0 3em;
  font-weight: 700;
  font-size: 1rem;
  color: #293264;
}
.quiz-score {
  font-size: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  font-family: var(--mainFont);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media (min-width: 600px) {
  .intro--title {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }

  .intro--subtitle {
    font-size: 1.5rem;
  }

  .intro--btn {
    margin-top: 0.5em;
  }

  .question-container {
    padding: 4em;
  }

  .question {
    font-size: 1.5rem;
  }

  .answer {
    font-size: 1rem;
  }

  .quiz-btn {
    padding: 2em;
    width: 200px;
  }
  .quiz-end {
    width: 50%;
  }
}
